$text-color: #ebebec;
$gray: #343a40;

.blog {
    padding: 20px 0px;
    border-bottom: 1px solid $gray;
    a {
        text-decoration: none;
        color: $text-color;
    }
    .blogTitle {
        font-size: 28px;
        font-weight: bold;
    }
    .date {
        color: #5b5c63;
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 500;
        align-items: center;
    }
    .icon {
        margin-right: 6px;
    }
    .arrow {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
