$gray: #5b5c63;

.connect {
    padding: 10px 50px;
    margin-bottom: 50px;
    .text {
        color: $gray;
        font-weight: bold;
        font-size: 20px;
        .arrowIcon {
            margin-left: 15px;
        }
    }
}
