@import "../variables.scss";

.headerContainer {
    margin: 90px 0px;
    .header {
        font-weight: 500;
        .navbar {
            .link {
                text-decoration: none;
                color: $gray;
            }
        }
        .meetButton {
            text-decoration: none;
            color: $yellow;
        }
    }
}
