$gray: #5b5c63;

.aboutContainer {
    padding: 0px 40px;
    .about {
        align-items: center;
        .image {
            height: 300px;
            width: 300px;
        }
        .text {
            padding: 40px 0px;
        }
    }
    .skills {
        padding: 40px;
        color: $gray;
        font-weight: bold;
        border: 0.5px solid $gray;
        border-radius: 15px;
        margin-bottom: 100px;
        .icon {
            margin-right: 6px;
        }
    }
}
