.box {
    display: flex;
    justify-content: space-around;
    background-color: #1c232e;
    height: 300px;
    align-items: center;
    .projectName {
        font-size: 18px;
    }
    .code {
        a {
            text-decoration: none;
            color: #00ff00;
        }
    }
}
