$yellow: #ffd200;
$gray: #5b5c63;
$text-color: #ebebec;

.project {
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 40px;
    background-color: #1c2531;
    transition: all 0.2s ease-in-out;
    a {
        text-decoration: none;
        color: $text-color;
    }
    .image {
        margin-bottom: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 250px;
        width: 100%;
    }
    .text {
        padding: 10px;
        .name {
            font-weight: bold;
            font-size: 23px;
            margin-bottom: 5px;
        }
        .description {
            margin-bottom: 20px;
        }
        .star,
        .language,
        .fork {
            font-size: 15px;
            align-items: center;
            font-weight: lighter;
            background-color: rgba(38, 198, 218, 0.1);
            padding: 7px;
            border-radius: 8px;
        }
        .icom {
            margin-right: 5px;
        }
    }
}

.project:hover {
    transform: scale(1.1);
}
