$gray: #5b5c63;

.aboutContainer {
    .about {
        margin-bottom: 70px;
        align-items: center;
        .image {
            height: 280px;
            width: 280px;
            object-fit: cover;
            border-radius: 15px;
        }
        .text {
            .socialIcons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 30px;
                font-weight: bold;
                width: 60%;
                align-items: center;
                .socialIcon {
                    cursor: pointer;
                }
            }
        }
    }
    .skills {
        border: 0.5px solid $gray;
        border-radius: 15px;
        margin-bottom: 70px;
        padding: 30px;
        font-size: 18px;
    }
    .icon {
        margin-right: 8px;
    }
}
