$yellow: #ffd200;
$gray: #5b5c63;
$text-color: #ebebec;

.bestProject {
    border: 0.5px solid $gray;
    cursor: pointer;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 40px;
    a {
        text-decoration: none;
        color: $text-color;
    }
    .projectName {
        font-size: 22px;
        color: $yellow;
        margin-bottom: 15px;
    }
    .description {
        margin-bottom: 50px;
    }
    .bottomLine {
        font-size: 17px;
    }
    .icon {
        margin-right: 5px;
    }
}
