$gray: #5b5c63;
$turquoise: #26c6da;

.container {
    padding: 30px;
    .title {
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: bold;
        color: $turquoise;
    }
    .about {
        text-align: center;
        margin-bottom: 70px;
    }
    .seeMore {
        margin-bottom: 60px;
        .link {
            font-size: 18px;
            font-weight: bold;
            color: $gray;
            text-decoration: none;
        }
        .clickIcon {
            margin-left: 8px;
        }
    }
    .socialIcons {
        margin-bottom: 50px;
        .socialIcon {
            cursor: pointer;
            margin-bottom: 30px;
        }
    }
}
