$gray: #5b5c63;

.container {
    .about {
        padding: 60px;
        text-align: center;
        .title {
            font-size: 40px;
            font-weight: bold;
        }
    }
    .blogs {
        padding: 20px;
        margin: 20px;
    }
    .projects {
        padding: 20px;
        margin: 20px;
    }
    .seeMore {
        margin-bottom: 50px;
        .link {
            font-size: 18px;
            font-weight: bold;
            color: $gray;
            text-decoration: none;
        }
        .clickIcon {
            margin-left: 8px;
        }
    }
    .socialIcons {
        margin-top: 50px;
        margin-bottom: 50px;
        .socialIcon {
            cursor: pointer;
            margin-bottom: 30px;
        }
    }
}
