$yellow: #ffd200;
$gray: #5b5c63;

.blog {
    padding: 25px;
    margin: 20px;
    border: 0.5px solid $gray;
    cursor: pointer;
    border-radius: 15px;
    .blogTitle {
        font-size: 24px;
        font-weight: bold;
        color: $yellow;
        margin-bottom: 5px;
    }
    .date {
        color: $gray;
        margin-bottom: 15px;
        font-weight: lighter;
    }
    .summary {
        margin-bottom: 45px;
    }
    .reactions {
        margin-bottom: 15px;
        font-weight: lighter;
        font-size: 17px;
        .icon {
            margin-right: 8px;
        }
    }
}
