$yellow: #ffd200;
$gray: #5b5c63;

.header {
    margin-bottom: 70px;
    margin-top: 70px;
    font-size: 22px;
    font-weight: 400;
    align-items: center;
    .navbar {
        .link {
            text-decoration: none;
            color: $gray;
        }
    }
    .meetButton {
        text-decoration: none;
        color: $yellow;
    }
}
