$yellow: #ffd200;
$gray: #5b5c63;

.headerContainer {
    margin: 70px 0px;
    .header {
        font-size: 20px;
        font-weight: 400;
        align-items: center;
        .navbar {
            align-items: center;
            .link {
                text-decoration: none;
                color: $gray;
            }
        }
        .meetButton {
            text-decoration: none;
            color: $yellow;
        }
    }
}
