.blog {
    padding: 25px;
    margin: 20px;
    border: 0.5px solid #5b5c63;
    cursor: pointer;
    border-radius: 15px;
    .blogTitle {
        font-size: 20px;
        color: #ffd200;
        margin-bottom: 20px;
    }
    .summary {
        margin-bottom: 30px;
    }
    .date {
        margin-bottom: 20px;
        .dateIcon {
            margin-right: 8px;
        }
    }
    .arrowIcon {
        width: max-content;
        height: max-content;
        border-radius: 50%;
        padding: 12px;
    }
}
