$yellow: #ffd200;
$gray: #5b5c63;

.blog {
    padding: 25px;
    margin: 20px;
    border: 0.5px solid $gray;
    cursor: pointer;
    border-radius: 15px;
    .blogTitle {
        font-size: 20px;
        color: $yellow;
        margin-bottom: 20px;
    }
    .bottomLine {
        font-size: 17px;
        font-weight: 400;
    }
    .icon {
        margin-right: 8px;
    }
    .summary {
        margin-bottom: 50px;
    }
}
