$primary-color: #222a36;
$secondary-color: #191e22;
$text-color: #ebebec;
$font-family: "Palanquin", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
  color: $text-color;
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 200;
    .header {
      margin-bottom: 50px;
      margin-top: 50px;
      .navbar {
        width: 35%;
        list-style: none;
        font-size: 20px;
        font-weight: 400;
        color: #8b8d91;
        li {
          cursor: pointer;
        }
        li:first-child:hover,
        li:first-child:active {
          color: #a259ff;
        }
        li:not(:first-child):not(:last-child):hover {
          color: #f24d1d;
        }
        li:last-child:hover,
        li:last-child:active {
          color: #00ff00;
        }
      }
    }
    .about {
      margin-bottom: 50px;
      padding-right: 30px;
      .title {
        font-size: 35px;
      }
    }
  }
}
