$primary-color: #000000;
$secondary-color: #1c232e;
$text-color: #ebebec;
$font-family: "Palanquin", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  color: $text-color;
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-family;
    font-size: 19px;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px;
    .header {
      margin-bottom: 50px;
      margin-top: 50px;
      .navbar {
        width: 35%;
        list-style: none;
        font-size: 20px;
        font-weight: 400;
        color: #8b8d91;
        li {
          cursor: pointer;
        }
        li:hover,
        li:active {
          color: "#26c6da";
        }
      }
    }
    .about {
      margin-bottom: 50px;
      padding: 30px;
      text-align: center;
      .title {
        font-size: 40px;
        font-weight: bold;
      }
      .buttonContainer {
        align-items: center;
        justify-content: center;
      }
      .contactButton {
        border: 1px solid #26c6da;
        padding: 15px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}
