$background-color: #000000;
$text-color: #ebebec;
$font-family: "Palanquin", sans-serif;
$yellow: #ffd200;
$turquoise: #26c6da;
$gray: #5b5c63;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $text-color;
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-family;
    font-size: 19px;
    font-weight: lighter;
    padding-left: 50px;
    padding-right: 50px;
    .title {
      font-size: 35px;
      margin-bottom: 10px;
      font-weight: bold;
      color: $turquoise;
    }
    .header {
      margin-bottom: 50px;
      margin-top: 50px;
      .navbar {
        width: 35%;
        list-style: none;
        font-size: 20px;
        font-weight: 400;
        color: $gray;
        li {
          cursor: pointer;
        }
        li:hover,
        li:active {
          color: "#26c6da";
        }
      }
      .meetButton {
        text-decoration: none;
        font-size: 20px;
        color: $yellow;
        :hover {
          font-size: 25px;
        }
      }
    }
    .about {
      padding: 60px;
      text-align: center;
      .title {
        font-size: 40px;
        font-weight: bold;
      }
    }
    .blogs {
      padding: 20px;
      margin: 20px;
    }
    .projects {
      padding: 20px;
      margin: 20px;
    }
    .socialIcons {
      margin-top: 50px;
      margin-bottom: 50px;
      .connect {
        font-size: 25px;
      }
      .socialIcon {
        cursor: pointer;
        margin-bottom: 30px;
      }
    }
  }
}
