@import "./variables.scss";

.bestProject {
    border: 0.5px solid $gray;
    cursor: pointer;
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 40px;
    flex: 1;
    .bottomRow {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        font-size: medium;
        font-weight: lighter;
        .stars {
            display: flex;
            align-items: center;
            .starIcon {
                margin-right: 5px;
            }
        }
    }
}
