@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  color: $text-color;
  font-family: $font-family;
  font-size: $text-font;
  line-height: 1.5;
  height: 100vh;
  a {
    text-decoration: none;
  }
  .layout {
    height: 100vh;
    padding: 2rem 14rem;
    text-align: center;
    line-height: 1.5;
  }
  .title {
    color: $turquoise;
    margin: 1.5rem 0;
    font-size: $title-font;
  }
  .subtitle {
    font-size: 24px;
    font-weight: bold;
    color: $yellow;
  }
}
