@import "./variables.scss";
@import "./mixins.scss";

@import "./home.scss";
@import "./bestProject.scss";
@import "./connect.scss";
@import "latestPost.scss";
@import "./navbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  color: $text-color;
  font-family: $font-family;
  font-size: $text-font;
  line-height: 1.7;
  height: 100vh;
  a {
    color: $text-color;
  }
  .layout {
    height: 100vh;
    padding: 1.5rem 20rem;
  }
  .title {
    color: $turquoise;
    margin: 1.5rem 0;
    font-size: $title-font;
  }
  .subtitle {
    font-size: 24px;
    font-weight: bold;
    color: $yellow;
  }
}
