@import "./variables.scss";

.home {
    @include flex(column);
    &__content {
        @include flex(row, space-between, center);
        text-align: justify;
        margin-bottom: 3rem;
        &__text {
            margin-right: 2rem;
        }
    }
    .seeMoreBtn {
        font-size: 18px;
        font-weight: bold;
        color: $gray;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        .clickIcon {
            margin-left: 5px;
        }
    }
    .bestProjects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10% 40px;
    }
    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
    }
}
